<p>There are <%= @positions.count %> positions in the database.</p>
  <div id="results">
  <% @positions.each do |position| %>
    <%= image_tag("accomodationIconMarker.png") %>
    <b><%= position.title %> - Created: <%= position.created_on %> - Last Updated: <%= position.updated_on %></b>
  <ul>
    <li><%=raw position.description %></li>
    <li><%= position.location %></li>
    <li><%= position.department %></li>
    <li>
    <% if position.is_open? %>
Position is open to applicants.
    <% else %>
Not accepting applications at this time.
<% end %>
</li>
  </ul>
  <% end %>  
  
</div>