<% if @positions.count > 0 %>
<p>Found <%= @positions.count %> job openings!</p>
  <div id="results">
  <% @positions.each do |position| %>
    <%= image_tag("accomodationIconMarker.png") %>
    <b><%= position.title %> - <%= position.updated_on %></b>
  <ul>
    <li><%=raw position.description %></li>
    <li><%= position.location %></li>
    <li><%= position.department %></li>
    <%= link_to "Apply", job_questions_index_path %>
  </ul>
  <% end %>
<% else %>
  <div id="results">
  <p>There are no job openings at this time.</p>
<% end %>
  
</div>

<p><%= link_to "Back to search...", positions_search_index_path %></p>