<h1>Listing questions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Answer</th>
  </tr>
  
  <tr>
    <td><%=h "Name" %></td>
    <td><%=h @q.question %></td>
  </tr>
      <td><%= link_to 'Show', @question %></td>
    <td><%= link_to 'Edit', edit_question_path(@q) %></td>
    <td><%= link_to 'Destroy', @question, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
</table>

<br />

<%= link_to 'New question', new_question_path %>